################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plugin/.vs/Plugin
/Plugin/Plugin/bin/Debug
/Plugin/packages
/Plugin/Plugin/obj/Debug
